/* - підключення обнуляючого файлу css */
@import url("reset.css");

/* - Селектор тегу — запит по назві тегу */
body {
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

/* - Селектор зірочка — робить запит до УСІХ об'єктів на сторінці */
* {
  color: rgb(139, 122, 122);
}

/* - Селектор класу — запит по назві класу */
.header {
  margin-bottom: 40px;
}

.content__block {
  margin-bottom: 100px;
}

/* - Селектор id — запит по назві id */
#title {
  text-align: center;
  color: blue;
}

/* - Усі теги li всередині об'єкту з класом .header */
.header li {
  color: rgb(214, 16, 138);
}

.subtitle {
  text-align: center;
  color: blueviolet;
}

/* - Усі теги P які знаходяться далі по коду після об'єктів з класом .subtitle та мають той самий рівень вкладеності (перший після батька)*/
.subtitle + p {
  color: rgb(63, 188, 73);
}

/* - перший параграф зеленим тому що класс+тег має вище пріоритет  */
[class*="__text"] {
  color: red;
}

/* - звертаємось відразу до двох об'єктів з різними классами */
.gold,
.silver {
  color: rgb(22, 157, 157);
}

/* - Усі теги div які знаходяться далі по коду після об'єктів з класом .subtitle та мають той самий рівень вкладеності */
.subtitle ~ div {
    color: #B18904;
}

/* +BLOCK-5 */
/* - звернення до усіх дітей, онуків, та правнуків в яких батько .block-5 (тобто до усіх нащадків) */
/* ! перебиває стилі для class="subtitle" та [class*="__text"] */
.block-5 * {
    color: rgb(20, 204, 204);
}

/* +BLOCK-6 */
/* - Усі теги P першого рівня всередині <div class="block-6__box"> (звернення відбувається  до усіх дітей в яких батько .block-6__box): */

.block-6__box-1 > p {
    color: green;
}

/*- .class .class */
/*- Усі об'єкти з класом .test-2 всередині об'єктів з класом .test-1 */
.test-1 .test-2 {
    color: darkblue;
}

