@import url("reset.css");

body {
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  color: rgb(139, 122, 122);
}

.header {
  margin-bottom: 40px;
}

.content__block {
  margin-bottom: 100px;
}

.title {
  text-align: center;
  color: blue;
}

.header li {
  color: rgb(214, 16, 138);
}

.subtitle {
  text-align: center;
  color: blueviolet;
}

.subtitle + p {
  color: rgb(63, 188, 73);
}

/* - перший параграф зеленим тому що класс+тег має вище пріоритет  */
[class*="__text"] {
  color: red;
}

/* - звертаємось відразу до двох об'єктів з різними классами */
.gold,
.silver {
  color: rgb(22, 157, 157);
}

.subtitle ~ div {
    color: #B18904;
}

/* +BLOCK-5 */
/* - звернення до усіх дітей, онуків, та правнуків в яких батько .block-5 (тобто до усіх нащадків) */
/* ! перебиває стилі для class="subtitle" та [class*="__text"] */
.block-5 * {
    color: rgb(20, 204, 204);
}


